@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    font-family: 'Space Mono', monospace;
}

.App {
    text-align: center;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
}

.logo {
    margin-top: 20px;
    width: 5%;
}

.box {
    /* width: 600px; */
    /* height: 300px; */
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 25px;
    display: table;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}