@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    font-family: 'Space Mono', monospace;
}

.App {
    text-align: center;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
}

.logo {
    margin-top: 20px;
    height: 8%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    /* animation-name: logo;
    animation-duration: 1s; */
    animation-name: middleBox;
    animation-duration: 2s;
}

.box {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 25px;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    animation-name: middleBox;
    animation-duration: 1s;
}

@media (max-width: 600px) {
  .App {
      height: auto;
  }

  .box { 
      grid-template-columns: repeat(1, 1fr);
      left: auto;
      top: auto;
      transform: none;
      border-radius: 15px;
      align-content: normal;
  }

  .logo {
    position: relative;
      margin-top: 40px;
      height: 10%;
      margin-bottom: 40px;
      left: auto;
      top: auto;
      transform: translate(0, 0);
  }
}

@keyframes logo {
  from {height: 1%;}
  to {height: 8%;}
}

@keyframes middleBox {
  from {opacity: 0;}
  to {opacity: 1;}
}
